<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>remedia - students</title>
        <link rel="stylesheet" type= "text/css" href="/static/app1.css">

    </head>
    <body>
        <header>
            <div class ="container">
                <nav>
                    <ul class = "menu">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/catalog">Catalog</a></li>
                        <li><a href="/students">Students</a></li>
                        <li><a href="/loans">Loans</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <h2>Edit Author</h2>
        <div id="center">

        <div id="edit">
            <form method="POST">
                
                <fieldset>
                <legend><strong>Edit Author</strong></legend>
                    <input type="hidden" value="{{data2[0].authorID}}" id="authorID" name="authorID" required>
					

                    <label>Name:</label> <input type="text" id="authorName" name="authorName" value="{{data2[0].authorName}}" required>

                    

					
                    <input type="submit" value="Submit" name="edit_author" class="button";>

                    
            </form>
	    </div>
        </div>

       

            <footer>
                <p>© 2022   ||   Clara Watson & Jon Moore</p>
            </footer>
</body>
    
</html>