<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>remedia - loans</title>
        <link rel="stylesheet" type= "text/css" href="/static/app1.css">

    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul class="menu">
                        <li><a href="dashboard">Dashboard</a></li>
                        <li><a href="catalog">Catalog</a></li>
                        <li><a href="students">Students</a></li>
                        <li><a href="loans">Loans</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <h2>Loans</h2>
        
            
        </div>
        <div>
            <table>
                <caption>Checked Out</caption>
                {% if data %}
                
                    <thead>
                        <tr>

                            <th>ID</th>

                            <th>Checkout Date</th>

                            <th>Return Date</th>

                            <th>Student ID</th>

                            <th>Book ISBN</th>

                            <th>Return</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                            <tr>
                                {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                                {% endfor %}
                                <td><a href="edit_loans/{{item.checkoutID}}" onClick="erase()">Return</a></td>
                                
                            </tr>
                            {% endfor %} 
                    </tbody>        
                {% endif %}
            </table>
        </br>


        </div>
        <div id="center"> 
        <div class="small "id="center"> 
        
        <table>
            {% if data2 %}
                <caption>Borrow Records</caption>
                    <thead>
                        <tr>

                            <th>ID</th>

                            <th>Book</th>

                            <th>Genre</th>

                            

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data2 %}
                            <tr>
                                {% for key in item.keys() %}
                                <td> {{item[key]}} </td>
                                {% endfor %}
                               
                                
                            </tr>
                            {% endfor %} 
                    </tbody>
            {% endif %}
        </table>

    </div>
</div>
</div>
            <footer>
                <p>© 2022   ||   Clara Watson & Jon Moore</p>
            </footer>
    </body>
    
</html>